{% load static %}

<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://abrakadabra.fun/uploads/posts/2022-02/thumbs/1646056711_30-abrakadabra-fun-p-frilans-art-61.png" height="400" class="d-block w-100" alt="Первая картинка">
            <div class="carousel-caption d-none d-md-block">
                <h5>السلام عليكم في داغفريلنس</h5>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://avatars.dzeninfra.ru/get-zen_doc/5324345/pub_62a090510124116446e73df3_62a0907ce1d9cd566cb06299/scale_1200" height="400" class="d-block w-100" alt="Вторая картинка">
            <div class="carousel-caption d-none d-md-block">
                <h5>Welcome for DagFreelance</h5>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvay1zOS1jaGltLTIzODYuanBn.jpg?s=R5biklfM06b-D5uiPVfSULQx_FfIEpM0BFzwXx639g0" height="400" class="d-block w-100" alt="Третья картинка">
            <div class="carousel-caption d-none d-md-block">
                <h5>Добропожаловать на сайт ДагФриланс</h5>
                <p></p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
