{% extends "dagfreelance/base_dagfreelance.html" %}
{% load static %}
{% block title %}Главная страница{% endblock %}

{% block content %}
<section class="my-registration-form">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <!--    ЭТО ХЛЕБНЫЕ КРОШКИ -->
                <nav aria-label="breadcrumb" class="my-4">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'home' %}">Главная</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Форма регистрации</li>
                    </ol>
                </nav>

                <div class="row justify-content-center">
                    <div class="col-6">
                        <p class="lead">Регистрация</p>
                        <form method="post">
                            {% csrf_token %}
                            <div class="mb-3">
                                <div>Имя пользователя:<label class="form-label visually-hidden">Имя пользователя</label>
                                    {{ form.username }}
                                </div>
                            </div>
                            <div class="mb-3">
                                <div>Электронная почта:
                                    <label class="form-label visually-hidden">Электронная почта</label>
                                    {{ form.email }}
                                </div>
                            </div>
                            <div class="mb-3">
                                <div>Пароль:
                                    <label class="form-label visually-hidden">Пароль</label>
                                    {{ form.password1 }}
                                </div>
                            </div>
                            <div class="mb-3">
                                <div>Подтверждения пароля:
                                    <label class="form-label visually-hidden">Подтверждения пароля</label>
                                    {{ form.password2 }}
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Зарегистрироватся</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

